.card {
  padding: 1.5rem;
  border-radius: 1rem;
}

.transparent {
  border: 0;
  background: transparent;
}

.full {
  border: 1px solid var(--brand-cyan);
  color: #000;
  background: var(--brand-cyan);
}

.border {
  border: 1px solid var(--brand-cyan);
  background: transparent;
}

.secondary {
  border: 0;
  color: var(--text-main);
  background: var(--brand-identity);
}
